@model IEnumerable<CPMP.Models.TaskAssignment>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AssignedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task.CreatedByNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Task.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Task!.CreatedByNavigation!.Username)
            </td>
            <td>
                    @Html.ActionLink(linkText: "Edit", actionName: "Edit", controllerName: "Tasks", new { id = item.TaskId}) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) 
                @if(item.Task.CreatedBy==int.Parse(Context.Session.GetString("UserId")))
                {
                        @Html.ActionLink("| Delete", "Delete", new { /* id=item.PrimaryKey */ })
                }
            </td>
        </tr>
}
    </tbody>
</table>
